@import url(https://fonts.googleapis.com/css?family=Manrope:600);
* {
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background: #fff url(/src/img/fon.png);
  font-family: "Manrope";
  font-weight: 600;
}
.container {
  width: 343px;
  height: 462px;
  margin-top: 56px;
  margin-left: 86px;
  margin-right: 86px;
  margin-bottom: 90px;
}
.body {
  display: inline-block;
  margin-top: 214px;
  margin-left: 702px;
  background: #ffffff;
  box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.logo {
  margin-left: 41px;
}

.login {
  margin-top: 42px;
}

.password {
  margin-top: 4px;
}

.input {
  width: 97.5%;
  height: 32px;
  margin-top: 4px;
}
.inputErorr{
  border-width: 3px;
  background-color: rgba(255, 0, 0, 0.192);
  border-color: red;
  width: 97.5%;
  height: 32px;
  margin-top: 4px;
}
.fp {
  text-align: end;
  margin-top: 11px;
  color: #f6b52e;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.button {
  height: 44px;
  text-align: center;
  margin-top: 42px;
  background: #f2b705;
  border-radius: 5px;
}

.singIn {
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
}

@media (max-width: 1366px) {
  .App {
    width: 1366px;
    height: 768px;
    background: #fff url(/src/img/fon2.png);
  }
  .container {
    margin-top: 0px;
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 43px;
  }
  .body {
    margin-top: 193px;
    margin-left: 478px;
  }
}

@media (max-width: 480px) {
  .App {
    width: 360px;
    height: 768.38px;
    background: #fff url(/src/img/fonmob.png);
  }
  .container {
    margin: 0px;
    margin-bottom: 43px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .body {
    margin-top: 193px;
    margin-left: 8px;
  }
}

/* paswoord */

.pr {
  margin-top: 40px;
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #989898;
}
.enter {
  margin-top: 47px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #989898;
}

.back {
  margin-top: 10px;
  text-align: end;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #f2b705;
}
.buttonCall {
  height: 44px;
  text-align: center;
  margin-top: 42px;
  position: absolute;
  width: 343px;
  height: 44px;
  background: #f2b705;
  border-radius: 5px;
}
